@tailwind base;
@tailwind components;
@tailwind utilities;

/* smooth scroll */
html {
  scroll-behavior: smooth;
}

/* src/fonts.css */
/* Erode Font */
@font-face {
  font-family: 'ErodeFont';
  src: url('/font/erode/Erode-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ErodeFont';
  src: url('/font/erode/Erode-VariableItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* Lora Font */
@font-face {
  font-family: 'LoraFont';
  src: url('/font/lora/Lora-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LoraFont';
  src: url('/font/lora/Lora-VariableItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic; 
}




.actives {
  color: red; /* 选中时的颜色 */
}

.background-image {
  background-image: url('img/mainpage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; /* 根据需要调整高度 */
  width: 100%; /* 根据需要调整宽度 */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 30%, /* 顶部开始40%灰 */
    rgba(0, 0, 0, 0.2) 50%, /* 中间过渡到20%灰 */
    rgba(0, 0, 0, 0.5) 70%  /* 底部回到40%灰 */
  );
}

.overlay_low {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3) 30%, /* 顶部开始40%灰 */
    rgba(0, 0, 0, 0.1) 50%, /* 中间过渡到20%灰 */
    rgba(0, 0, 0, 0.2) 70%  /* 底部回到40%灰 */
  );
}


/* diy计划 grid*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px 12px; 
}

/** 标准 grid tailwindcss转换 w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5*/
.standard-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  gap: 20px 12px; 
}

.grid-item {
  background-color: #f8f9fa; 
  border: 1px solid #dee2e6; 
  padding: 10px; 
  text-align: center; 
  font-family: Arial, sans-serif; 
  color: #333; 
}

.glassmorphism{
  /* From https://css.glass */
  background: rgba( 87, 87, 87, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6.5px );
  -webkit-backdrop-filter: blur( 6.5px );
}